---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.larger-image {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem; /* Optional spacing */
}

.larger-image img {
  width: 100%;
  object-fit: contain; /* Ensures the image doesn't get cropped */
}

.img-fluid {
  max-width: 100%; /* Allow responsive scaling */
  width: auto;     /* Prevent forced resizing */
}

.zoomable img {
  max-width: none; /* Remove any max-width constraints */
}